In [1]:
from pycaret.regression import load_model, evaluate_model, setup
import pandas as pd

In [2]:
data = pd.read_csv("../data/04_feature/Car_Prices_Poland_Kaggle_with_mileage_per_years.csv")
setup(data=data, target='price')

ai_model = load_model('best_model_with_pipeline')

Transformation Pipeline and Model Successfully Loaded

In [3]:
evaluate_model(ai_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦